:root {
    --color-primary: hsl(40deg 80% 50%);
}

*,
*:before,
*:after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    background-color: hsl(0deg 0% 10%);
    color: hsl(0deg 0% 98%);

    font-family: Lato, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    display: grid;

    max-inline-size: 80ch;

    margin: auto;
}

h1 {
    font-size: 4rem;
}

ul {
    list-style: none;
}

a {
}
