---
import SocialLink from './SocialLink.astro';
---

<footer>
    <small class="copyright"> Copyright &copy; 2023 BijanProgrammer.com</small>

    <nav aria-label="Social">
        <ul>
            <li><SocialLink link="https://github.com/bijanprogrammer" text="GitHub" /></li>
            <li><SocialLink link="https://www.linkedin.com/in/bijanprogrammer/" text="LinkedIn" /></li>
            <li><SocialLink link="https://twitter.com/bijanprogrammer" text="Twitter" /></li>
        </ul>
    </nav>
</footer>

<style lang="scss">
    footer {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        gap: 2rem;

        padding-block: 2rem;

        nav {
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }
        }
    }
</style>
