---
interface Props {
    link: string;
    text: string;
}

const {link, text} = Astro.props;
---

<a href={link} target="_blank">{text}</a>

<style lang="scss">
    a {
        color: var(--color-primary);
    }
</style>
